.footer {
	padding-top: 4rem;
	padding-bottom: 1rem;
	border-top: 1px solid #c8d4d6;
    margin-top: 3rem;
	background-color: #f7fafd;
}

.footer p,
.footer .heading-footer,
.footer .list-unstyled,
.footer a {
	color: #999;
}

.footer a {
	text-decoration: none;
}
.p-small {
	font: 400 0.875rem/1.5rem "Open Sans", sans-serif;
}
.footer .footer-col {
	display: inline-block;
	width: 14.5rem;
    margin-right: 2rem;
	margin-bottom: 1.5rem;
    vertical-align: top;
}

.footer .heading-footer {
	margin-bottom: 0.625rem;
    font: 700 1.125rem/1.625rem "Open Sans", sans-serif;
    color: black;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .list-unstyled .fab,
.footer .list-unstyled .fas {
	width: 0.875rem;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.footer .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 0.75rem;
	margin-right: 0.375rem;
	font-size: 1.25rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #fff;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #6b55f9;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #7663ef;
}

.copyright {
	padding-bottom: 0.75rem;
	background-color: #f7fafd;
	text-align: center;
}

.copyright p,
.copyright a {
	color: #999;
    text-align: center;
}

.copyright a {
	text-decoration: none;
}


@media (min-width: 992px) {
.footer .footer-col.first {
    display: none;
}

.footer .footer-col.third,
.footer .footer-col.fourth {
    width: 11.5rem;
}
}

@media (min-width: 1200px) {
/* Footer */
.footer .footer-col.first {
    display: inline-block;
    width: 14rem;
    margin-right: 2.5rem;
}

.footer .footer-col.second {
    width: 14rem;
    margin-right: 2.25rem;
}


.footer .footer-col.third,
.footer .footer-col.fourth {
    width: 8.5rem;
    margin-right: 3.25rem;
}

.footer .fa-stack:last-of-type {
    margin-right: 0;
}

.footer .footer-col.fifth {
    width: 12rem;
    margin-right: 0;
}
}
/* end of footer */